# SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
name: Lint

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  checks: write
  contents: write

concurrency:
  group: lint-python-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  run-python-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: [ '3.8', '3.11' ]

    name: run-python-lint

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-versions }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install Python dependencies
        run: |
          python -m pip install --editable .[dev]

      - name: Lint
        uses: wearerequired/lint-action@548d8a7c4b04d3553d32ed5b6e91eb171e10e7bb # v2.3.0
        with:
          check_name: ${linter} (${{ matrix.python-versions }})
          pylint: true
