# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
name: pytest

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: pytest-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-versions: [ '3.8', '3.11' ]

    name: pytest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-versions }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install Python dependencies
        run: |
          python -m pip install --editable .[dev]

      - name: Test with pytest
        run: |
          python -m pytest tests
